.chatItem {
    width: 825px;
    height: max-content;
    margin-top: 20px;
}
.messageContent {
    width: 800px;
    display: flex;
    justify-content: flex-end;
}
.message {
    width: max-content;
    height: 45px;
    background-color: #52c41a33;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 20px;
}

.answerContent {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.answer {
    max-width: 700px;
    width: max-content;
    min-height: 45px;
    background-color: #FFFFFF;
    line-height: 45px;
    padding-left: 30px;
    border-radius: 20px;
    padding-right: 30px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin:5px
}

.dialogCard {
    height: 70%;
    overflow-y: scroll;
}

.codeBlock {
    border-radius: 10px;
    width: 670px;
    font-size: 14px !important;
    padding-left: 20px !important;
}

.dialogCard::-webkit-scrollbar {
    width: 3px !important;
}

.dialogCard::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
}

.dialogCard::-webkit-scrollbar-track {
    border-radius: 0;
}

.typewritter {
    border-right: 2px solid transparent;
    animation: blink .6s infinite;
    height: 16px;
    width: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@keyframes blink {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: rgb(15 23 42);
    }
}