.main {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.newSession {
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 17px;
    left: 20px;
    top: 20px;
}
.bottom {
    width: 800px;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 400px);
}
.btn {
    position: absolute;
    right: -10%;
    bottom: 0;
}

.content {
    width: 800px;
    position: absolute;
    left: calc(50% - 400px);
}

.root {
    position: fixed;
    width: 100%;
    background: #F4F6FC;
}