.root {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    .main {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100vh;
        .container {
            width: 100%;
            position: relative;
        }
    }
}